 <!-- Form for creating and updating records -->
 
 <div class="container">
 
 <div class="form-container">
  <a routerLink="/">Home</a>
    <h2>Create or Update Record</h2>
   
    <form [formGroup]="form" (submit)="submit()">
      <label>ID:</label>
      <input  placeholder="ID"  formControlName="id" type="text">
      <br>
      <label>Name:</label>
      <input placeholder="Name" formControlName="name" type="text">
      <app-form-error class="err" [control]="form.get('name')!"></app-form-error>
      <br>
      <label>Email:</label>
      <input placeholder="Email" formControlName="email" type="text">
      <app-form-error class="err" [control]="form.get('email')!"></app-form-error>
      <br>
      <label>Phone:</label>
      <input  placeholder="Phone" formControlName="phone" type="text">
      <app-form-error class="err" [control]="form.get('phone')!"></app-form-error>
      <br>
      <label>City:</label>
      <input  placeholder="City" formControlName="city" type="text">
      <app-form-error class="err" [control]="form.get('city')!"></app-form-error>
      <br>
      <button type="submit">Submit</button>
    </form>
    
  </div> 
 
</div>